/* BURGER MENU */
/* BURGER MENU */
/* BURGER MENU */


@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "Poppins", sans-serif;
}

.no-scroll {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 3; /* Ensure it's above other content except the menu */
  display: none; /* Initially hidden */
}

.nav-container input[type="checkbox"]:checked ~ .overlay {
  display: block; /* Show the overlay when the menu is open */
}


.navbar {
  width: 22%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  justify-content: space-between;
  align-items: center;
  height: 62px;  
}

.navbar .menu-items { /* MENY CHOICES */
  /* display: flex;  */
  background-color: white;
  z-index:4;
  overflow: auto;
  /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);    gör så att menyn är transparent */
  height: 100%;
  min-width: 33vw;
  width: fit-content;
  transform: translateX(-150%); /*gör så att menyn är dold från början */
  position: fixed; /*gör så att menyn inte scrollar med sidan */
  transition: transform 0.5s ease-in-out; /*gör så att menyn glider in och ut */
  justify-content: space-evenly; /*gör så att menyalternativen är jämnt fördelade */
  text-align: center; /*gör så att texten är centrerad */
  white-space: wrap; /*gör så att texten inte kommer utanför bakgrunden */
}


.navbar .menu-items a {
  display: inline-block;
  text-decoration: none;
  color: #0e2431; /* Adjust the color as needed */
  padding: 0.7rem;
  position: relative;
}

.menu-items a i {
  display: none; /* Initially hide the icons */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.navbar .menu-items a:hover {
  font-weight: bolder;
}

.navbar .menu-items a:hover .text{
  display: none;
}

.menu-items a:hover i {
  display: inline-block; /* Display the icon when hovering over the menu item */
}

.navbar .menu-items a.active {
  font-weight: bolder;
  text-decoration: underline;
}


.navbar .nav-container li {
  list-style: none;
  font-size: 4em;

}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431; /* TEXT MENY CHOICES COLOR */
  font-weight: 500;
  font-size: 2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 0px;
}

.nav-container .checkbox { /* MENU HITBOX */
  position: fixed; 
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px; 
  position: fixed;  /*gör så att meny ikonen stannar i bakgrunden när man skrollar */
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431; /* COLOR FOR HAMBURGER LINES */
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

 @media screen and (max-height: 450px){
  .navbar .nav-container a { /* gör så att texten i menyn blir mindre om skärmen är mindre */
    font-size: 1.5rem;
  }
 }
@media screen and (max-height: 768px){
  .navbar .menu-items { /* gör att man bara kan skrolla i menyn om valen inte får plats */
    overflow-x: hidden; /*gör så att man inte kan scrolla horisontellt */
    overflow-y: scroll; /*gör så att man kan scrolla vertikalt */
  }
}
@media screen and (max-width: 768px){
  .navbar .menu-items { /* gör så att menyn blir mindre om skärmen är mindre */
   margin: 0% 0% 0% 0%;
   max-width: 100%;
   min-width: 100%;
  }
  .navbar .nav-container a { /* gör så att texten i menyn blir mindre om skärmen är mindre */
    font-size: 1.5rem;
  }
}
.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}